<h2 class="group-list-heading">Groups List</h2>
<mat-divider style="padding-bottom: 15px;"></mat-divider>

<div class="header-container">
  <button mat-raised-button (click)="openCreateGroupDialog()">Create Group</button>
  <div class="search-container">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Search" [(ngModel)]="searchTerm" (input)="applySearchFilter()">
    </mat-form-field>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows matSort>

  <ng-container matColumnDef="serialNumber" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="sl-column"> Sl. no </th>
    <td mat-cell *matCellDef="let group; let i = dataIndex"> {{ i + 1 }} </td>
  </ng-container>
  <ng-container matColumnDef="name" class="medium-column">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="group-column"> Group Name </th>
    <td mat-cell *matCellDef="let group" (click)="editGroup(group)"> {{group.groupName}} </td>
  </ng-container>
  <ng-container matColumnDef="createdTime" class="medium-column">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="created-time-column"> Created Time </th>
  <td mat-cell *matCellDef="let group">{{ group.createdTime | date: 'medium' }}</td>
</ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="action-column"> Actions </th>
    <td mat-cell *matCellDef="let group">
      <button mat-icon-button (click)="deleteGroup(group._id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="copyGroup(group)">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button (click)="editGroup(group)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleExpansion(group)" class="large-button">
  <mat-icon>{{ expandedGroup === group ? 'expand_less' : 'expand_more' }}</mat-icon>
</button>

    </td>
  </ng-container>
<ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div [@detailExpand]="element === expandedGroup ? 'expanded' : 'collapsed'" *ngIf="expandedGroup === element">
        <mat-chip-listbox>
          <mat-chip *ngFor="let member of element.members">{{ member.name }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-listbox>
      </div>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="['serialNumber', 'name', 'createdTime', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['serialNumber', 'name', 'createdTime', 'actions'];" class="element-row" [class.expanded]="row == expandedGroup" ></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="expanded-row" [class.expanded]="row == expandedGroup"></tr>

</table>
