<nav>
    <div class="brand">Tech Active</div>
    <div class="info-container">
      <div class="group-info text-default-color">
        Total Groups Created: {{totalGroupsCreated}}, Total Groups Updated: {{totalGroupsUpdated}}
      </div>
      <div class="user-profile" [ngClass]="{ 'active': isDropdownOpen }">
        <div class="dropdown">
         \
          <p>{{ userInfo.name }}</p>
          <p>{{ userInfo.email }}</p>
        </div>
        <div class="profile-photo" (click)="toggleDropdown()">
          <img [src]="userInfo.photo" alt="Profile Photo">
        </div>
      </div>
    </div>
  </nav>
  