
<div class="row">
  <div class="col-10">
    <h1 mat-dialog-title class="title">{{mode}} Group</h1>
  </div>
  <div class="col-2">
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-5">
      <mat-label>Group Name</mat-label>
    </div>
    <div class="col-5">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="groupName" required>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <mat-label>Admin Name</mat-label>
    </div>
    <div class="col-5">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="adminName" required>
      </mat-form-field>
    </div>
  </div>

  <div *ngFor="let member of members; let i = index" class="row">
  <div class="col-5">
    <mat-label>Member Name</mat-label>
  </div>
  <div class="col-5">
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="member.name" required>
    </mat-form-field>
  </div>
</div>


  <div class="row" style="float: right;">
    <div class="col-2">
      <button mat-icon-button (click)="addMember()">
        <mat-icon  class="add-member-button">add</mat-icon>
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="saveGroup()" [disabled]="!isFormValid()">Save</button>
</mat-dialog-actions>
